<p>
   I'm Manan Khattar, a software engineer currently based in San Francisco. I'm currently interested in productivity,
   technology, sports, and living well (among other things). I'm trying hard to be a good person.
</p>