<div class='note'>
    Huge shoutout to
    <a href="https://v5.chriskrycho.com/index.html" target="_blank">Chris Krycho</a>
    for publicizing his website's
    <a href="https://github.com/chriskrycho/v1.notes.chriskrycho.com" target="_blank">source</a>. I'm a big fan of the
        design and structural decisions he's made, so I've decided to (mostly) shamelessly copy them. Soon this website will
        hopefully look a little less like his!
</div>